<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.espresso_blackbox_testing" xmlns:android="http://schemas.android.com/apk/res/android">
    <instrumentation
            android:name="androidx.test.runner.AndroidJUnitRunner"
            android:targetPackage="com.mytaxi.android_demo"/>

    <application>
        <uses-library android:name="android.test.runner"/>
    </application>

</manifest>